@model DashboardViewModel
@{
	
}

@section body {
	<section id="dashboard" class="gridContainer" data-file="@(Model.BillFile)">
		<div class="small-col4 medium-col2 large-col1"></div>
		<div class="small-col4 medium-col2 large-col1"></div>
		<div class="small-col4 medium-col2 large-col1"></div>
		<div class="small-col4 medium-col2 large-col1"></div>
	</section>
}