@model MainViewModel
@{
	
}

@section body {
	<section id="overview">
		<h1 id="overview-total"></h1>

		<h2 class="dividedHeader">Subscriptions</h2>
		<ul id="subscriptionList"></ul>

		<h2 class="dividedHeader">Resource Groups</h2>
		<ul id="groupList"></ul>

		<h2 class="dividedHeader">Services</h2>
		<ul id="serviceList"></ul>
	</section>
	<section id="dashboard">

	</section>
}