/*#region Fonts*/
/*#endregion*/
/*#region Colors*/
/*#endregion*/
body.aba-page-index #dropbox {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 500px;
				max-width: 100%;
				height: 400px;
				transform: translate(-50%, -50%); }
				body.aba-page-index #dropbox #fileField {
								position: absolute;
								opacity: 0;
								margin: 0;
								top: 0;
								left: 0;
								width: 100%;
								height: 100%;
								cursor: pointer;
								z-index: 2; }
				body.aba-page-index #dropbox #dropTarget {
								position: absolute;
								top: 0;
								left: 0;
								width: 100%;
								height: 100%;
								cursor: pointer;
								background: url(/Content/Images/Icons/upload.svg) center center no-repeat;
								background-size: 128px 128px;
								border: 2px dashed #CACACA;
								z-index: 1; }
								body.aba-page-index #dropbox #dropTarget.active {
												border-color: #276CB9; }
								body.aba-page-index #dropbox #dropTarget > p {
												position: absolute;
												margin: 0;
												top: calc(50% + 32px);
												left: 50%;
												width: 100%;
												max-width: 400px;
												transform: translateX(-50%);
												color: #262626;
												text-align: center; }
				body.aba-page-index #dropbox #progress {
								position: absolute;
								top: 0;
								left: 0;
								width: 100%;
								height: 100%;
								background-color: #F2F2F2;
								border: 2px dashed #CACACA;
								z-index: 3; }
				body.aba-page-index #dropbox #uploadError {
								position: absolute;
								bottom: 0;
								left: 0;
								width: 100%;
								text-align: center;
								z-index: 4; }

body.aba-page-index #testdrive {
				position: absolute;
				bottom: 20px;
				left: 20px; }
				body.aba-page-index #testdrive > p {
								margin: 0; }

