@import '_variables.scss';

body.aba-page-dashboard {
	.dividedHeader {
		margin: 2rem 0 0 0;

		border-bottom: 1px solid $blue;
	}

	#dashboard {
		#dashboard-total {
			margin-top: 0;

			font-size: 2rem;
			@include font-normal();

			small {
				font-size: 1rem;
			}
		}

		#dashboard-monthGroupingDropdown {
			float: right;
		}

		#dashboard-monthGraphContainer {
			clear: both;
			position: relative;
			margin-bottom: 40px;
			width: 100%;
		}
		#dashboard-groupTotalGraphContainer,
		#dashboard-serviceTotalGraphContainer {
			float: left;
			position: relative;
			margin-bottom: 40px;
			width: 50%;
		}

		&:after {
			display: block;
			clear: both;

			content: '';
		}
	}

	#overview {
		margin-bottom: 100px;

		ul {
			margin: 0;
			padding: 0 0 0 20px;
			list-style: none;
		}

		.overviewList {
			width: 100%;

			> .listRow {
				display: grid;
				grid-template-columns: repeat(10, 10%);
				margin: 4px 0;

				&:hover {
					background-color: $grey;
				}

				> .listCol {
					grid-column-end: span 1;

					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;

					&.id,
					&.name {
						grid-column-end: span 3;
					}
					&.cost {
						text-align: right;
					}
				}
			}
		}
	}
}